@model CasaDoCodigo.Model.Cart
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="infoSection container">
        <h2 class="infoSection-titulo">Seu carrinho</h2>

        <table class="formularioDoCarrinho-tabela">
            <thead class="formularioDoCarrinho-cabecalho">
                <tr>
                    <th></th>
                    <th class="formularioDoCarrinho-cabecalho-item">Item</th>
                    <th class="formularioDoCarrinho-cabecalho-item formularioDoCarrinho-cabecalho-preco">Preço</th>
                    <th class="formularioDoCarrinho-cabecalho-item">Qtd</th>
                    <th class="formularioDoCarrinho-cabecalho-item">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Itens)
                {
                    <tr>
                        <td class="formularioDoCarrinho-item">
                            <a asp-action="Details" asp-controller="Books" asp-route-id="@item.Book.Id">
                                <img class="formularioDoCarrinho-item-imagem" src="@item.Book.CoverUri">
                            </a>
                        </td>
                        <td class="formularioDoCarrinho-item">
                            <h2 class="formularioDoCarrinho-item-titulo">
                                @item.Book.Title
                            </h2>
                        </td>
                        <td class="formularioDoCarrinho-item formularioDoCarrinho-item-preco">
                            <money-display value="@item.Price" />
                        </td>
                        <td class="formularioDoCarrinho-item">
                            <h2 class="formularioDoCarrinho-item-titulo">
                                @item.Quantity
                            </h2>
                        </td>
                        <td class="formularioDoCarrinho-item">
                            <form asp-action="AddToCart" asp-controller="Cart" method="post">
                                <button type="submit" name="bookId" value="@item.Book.Id">
                                    Adicionar 1
                                </button>
                            </form>
                            <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                                <button type="submit" name="bookId" value="@item.Book.Id">
                                    Remover 1
                                </button>
                            </form>
                            <form asp-action="DeleteFromCart" asp-controller="Cart" method="post">
                                <button type="submit" name="bookId" value="@item.Book.Id">
                                    <img class="formularioDoCarrinho-item-remover-imagem" src="~/images/trash.png" alt="X" title="Remover">
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot class="formularioDoCarrinho-rodape">
                <tr>
                    <td class="formularioDoCarrinho-rodape-item formularioDoCarrinho-finalizar" colspan="3">
                        <form class="formularioDoCarrinho" action="/cart" method="post">
                            <button class="formularioDoCarrinho-finalizar-botao" type="submit" name="checkout">
                                Finalizar<span class="formularioDoCarrinho-finalizar-botao-texto" role="presentation">compra</span>
                            </button>
                        </form>
                    </td>
                    <td class="formularioDoCarrinho-rodape-item">
                        <money-display value="@Model.TotalPrice"/>
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>
</main>